<%= form_for [@conference, @workshop],:html => { :multipart => true }, :remote => true do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "tinymce" %>
    <%= tinymce %>
  </div>
  <div class="field">
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </div>
  <% @workshop.attachments.each do |a| %>
    <%= image_tag a.pic.url(:thumb) %>
  <% end %>
  <div class="field">
    <%= f.label :seats %><br />
    <%= f.number_field :seats %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.check_box :long %>
  </div>
  <p>To change the image, simply upload a new file.</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @workshop.workshop_attendees.any? -%>
	<br />
	<hr />
	<h3>Attendee who have registered:</h3>
		<% 0.upto(@workshop.workshop_attendees.size - 1) do |i| -%>
			<p>
				<%= i + 1 %>. <%= @workshop.workshop_attendees[i].user.full_name %> | <%= link_to "Unregister", boss_attendees_workshops_unattend_path(@workshop.workshop_attendees[i].user, @workshop), :remote => true %>
			</p>
		<% end -%>
<% end -%>
