<div id="content">
<% @workshops.each do |w| %>
<div class="item plenitem" style="background-image: url(<%= w.attachments[0].pic.url %>);">
    <br>
    <div class="speaker" style="background-color: #F99C1C; font-size: 150%; font-weight:900;"><%= w.presenter %></div>
    <br><br>
    <h1>
        <%= link_to w.title, workshop_path("sccs-bng-2013", w.id)  %>
    </h1>
    <br>
    <!-- <div class="plenary yellowback">Plenaries &rarr;</div> -->

    <!-- <div class="plenary greenback">DATE: T.B.A. &nbsp; Max Participation : 30 students</div> -->
</div>
<% end %>
</div>


<h1>Listing workshops</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Presenter</th>
    <th>Conference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workshops.each do |workshop| %>
  <tr>
    <td><%= workshop.title %></td>
    <td><%= workshop.content %></td>
    <td><%= workshop.presenter %></td>
    <td><%= workshop.conference.title %></td>
    <td><%= link_to 'Show', conference_workshop_path(@conference, workshop) %></td>
    <td><%= link_to 'Edit', edit_conference_workshop_path(@conference, workshop) %></td>
    <td><%= link_to 'Destroy', conference_workshop_path(@conference, workshop), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workshop', new_conference_workshop_path(@conference) %>
