<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @workshop.title %>
</p>

<p>
  <b>Content:</b>
  <%= @workshop.content %>
</p>

<p>
  <b>Presenter:</b>
  <%= @workshop.presenter %>
</p>

<p>
  <b>Conference:</b>
  <%= @workshop.conference.title %>
</p>

<p>
  <b>User:</b>
  <%= @workshop.user.email %>
</p>


<%= image_tag @workshop.attachments.first.pic.url %>

<br>
<% if can? :edit, @workshop %>
  <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<% end %>
<%= link_to 'Back', workshops_path %>
