<div class="plenary yellowback">W O R K S H O P S</div>
<h1><%= @workshop.title %></h1>
<div class="plenary yellowback"><%= @workshop.presenter %></div>

<div class="pageview">
  <%=raw @workshop.content %>
</div>


<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @workshop.title %>
</p>

<p>
  <b>Content:</b>
  <%= @workshop.content %>
</p>

<p>
  <b>Presenter:</b>
  <%= @workshop.presenter %>
</p>

<p>
  <b>Conference:</b>
  <%= @workshop.conference.title %>
</p>