<br>
<br>
<br>
<br>
<br>

<% if current_user.first_name == 'test' %>
    <% registeredfor = [] %>
    <% if @attendeeworkshops.empty? %>
      <% registeredfor = [] %>
    <% else %>
      <% @attendeeworkshops.each do |aw| %>
        <% registeredfor << aw.workshop.title %>
      <% end %>
    <% end %>

    <%= registeredfor %>

    <p>Below is a list of workshops that you can apply to for this years conference sorted by day. You can only apply to one workshop per day, and only apply to one repeat workshop per conference.</p>


    <% @days = @days.reverse %>
    <br>
    <% @grouped.each do |g| %>

    <div class="day">
    <h3>Day <%= g[0] %></h3>
    <hr>
    <% g[1].each do |w| %>

    <% registered = false %>

    <% w.schedulable.workshop_attendees.each do |a| %>
      <% registered = true if a.user_id = current_user %>
    <% end %>

    <div class="wcard <%= 'dayreg' if registered == true  %>">
      <h3><%= link_to w.schedulable.title, conference_workshop_path(@conference, w.schedulable), :remote => true %></h3>
      <%# CHECK FOR DUPLICATES %>
      <% registeredforworkshop = false %>
      <% registeredforworkshop = true if registeredfor.include? w.schedulable.title %>

      <% seatsleft = w.schedulable.seats - w.schedulable.workshop_attendees.size %>
      <%= seatsleft %> Seats Left.
      <%=raw "<br><br>You have already registered for this workshop." if registeredforworkshop == true %>
      <br>
      <%= link_to "Register", attend_path(@conference, w.schedulable), :remote => true if @days[ g[0] - 1 ] == true && registeredforworkshop == false %>
    </div>
    <% end %>
    </div>
    <div class="clear"></div>
    <br><br><br>
    <% end %>
<% else %>

<div class="wcard">Workhshop Registrations will open on the 2st of September, 10 AM IST.</div>


<% end %>

<br>
<br>
<br>
<br>
<br>
