<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Conference</th>
    <th>User</th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.description %></td>
    <td><%= idea.conference_id %></td>
    <td><%= idea.user_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_conference_idea_path(@conference), :remote => true if can? :create, Idea %>
