<p id="notice"><%= notice %></p>

<p>
  <strong><%= @topic.title %></strong>
</p>

<p>
	<strong>Created By: <%= @topic.user.first_name %> <%= @topic.user.last_name %></strong>
</p>

<p>
  <%= @topic.description %>
</p>
