<%= form_for [@conference, @period], :remote => true do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
	</div>
	<br>
	<div class="field">
		<%= f.label :category %>
		<%= f.select :category, period_categories %>
	</div>
	<br>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content, :rows => "4" %>
	</div>
	<br>
  <div class="actions">
    <%= f.submit @period.new_record? ? "Add Session" : "Update Session" %>
  </div>
<% end %>
