<%= form_for(@plenary,:html => { :multipart => true }) do |f| %>
  <% if @plenary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plenary.errors.count, "error") %> prohibited this plenary from being saved:</h2>

      <ul>
      <% @plenary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "tinymce" %>
    <%= tinymce %>
  </div>
  <div class="field">
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </div>
  <div class="field">
    <%= f.label :conference_id %><br />
    <%= f.number_field :conference_id %>
  </div>
  <% @plenary.attachments.each do |a| %>
    <%= image_tag a.pic.url(:thumb) %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
