<h1>Listing plenaries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Presenter</th>
    <th>Conference</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plenaries.each do |plenary| %>
  <tr>
    <td><%= plenary.title %></td>
    <td><%= plenary.content %></td>
    <td><%= plenary.presenter %></td>
    <td><%= plenary.conference_id %></td>
    <td><%= plenary.user_id %></td>
    <td><%= link_to 'Show', plenary %></td>
    <td><%= link_to 'Edit', edit_plenary_path(plenary) %></td>
    <td><%= link_to 'Destroy', plenary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plenary', new_plenary_path %>
