<%= form_for @conference, :remote => true do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :early_bird_close %><br />
    <%= f.date_select :early_bird_close %>
  </div>
  <div class="field">
    <%= f.label :abstract_submission_start %><br />
    <%= f.date_select :abstract_submission_start %>
  </div>
  <div class="field">
    <%= f.label :abstract_submission_close %><br />
    <%= f.date_select :abstract_submission_close %>
  </div>
  <div class="field">
    <%= f.label :workshop_registration_start %><br />
    <%= f.date_select :workshop_registration_start %>
  </div>
  <div class="field">
    <%= f.label :workshop_registration_close %><br />
    <%= f.date_select :workshop_registration_close %>
  </div>
  <div class="field">
    <%= f.label :online_registration_close %><br />
    <%= f.date_select :online_registration_close %>
  </div>
    <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :number_of_days %><br />
    <%= f.number_field :number_of_days %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>