<% 
if @plenary
	@main_action = @plenary
elsif @workshop
	@main_action = @workshop
end
 %>
<%= form_for [@main_action, Schedule.new], :remote => true do |f| %>
	<p>
		<%= f.label "Start time" %>
		<%= f.date_select :starttime %> | <%= f.time_select :starttime, :ignore_date => true, :ampm => true %>
	</p>
	<p>
		<%= f.label "Session length (in minutes)" %>
		<%= f.number_field :minutes %>
	</p>
	<p>
		<%= f.label "Venue" %>
		<%= f.text_field :venue %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>