<% if @plenary %>
	<% @main_action = @plenary %>
<% elsif @workshop %>
	<% 	@main_action = @workshop %>
<% else %>
	<% @main_action = @period %>
<% end %>
<%= form_for [@main_action, Schedule.new], :remote => true do |f| %>
	<p>
		<%= f.label "Start time" %>
		<%= f.time_select :starttime %>
	</p>
	<p>
		<%= f.label :day %>
		<%= f.number_field :day %>
	</p>
	<p>
		<%= f.label "Session length (in minutes)" %>
		<%= f.number_field :minutes %>
	</p>
	<p>
		<%= f.label "Venue" %>
		<%= f.text_field :venue %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
