<h1>Participate</h1>

<%= form_tag participate_path, :remote => true do %>
	<div>
		<%= label :participate, :ticket %>
		<%= text_field :participate, :ticket %>
	</div>
	<br />
	<div>
		<%= label :participate, :email %>
		<%= text_field :participate, :email %>
	</div>
	<br />
	<div>
		<%= submit_tag "Participate" %>
	</div>
<% end -%>
