<h1>Schedule</h1>


<br />
<% if @schedules.any? -%>

	<% @schedules.each do |s| %>
		<div class="pageview">
		<div class="plenary yellowback">Day <%= s[0] %> </div><br>
		<table>
			<strong><% s[1].each do |schedule| %></strong>
				<tr>
					<td style="width: 80px;"><%= schedule.starttime.strftime("%I:%M %p") %></td>
					<td style="width: 120px;"><%= schedule.schedulable_type == 'Period' ? "Session" : schedule.schedulable.class.name %></td>
					<td style="width: 150px;"><%= schedule.venue %></td>
						<td>
						<% unless schedule.schedulable.instance_of? Period %>
							<%= link_to schedule.schedulable.title, schedulable_path(@conference, schedule.schedulable) %>
						<% else %>
							<%= link_to schedule.schedulable.title, schedulable_path(@conference, schedule.schedulable), :remote => true %>
						<% end %>
					</td>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
	<% end %>

<% end -%>
