<%= form_for [@conference, @page] do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pagecat_id %>
    <%= f.collection_select(:pagecat_id, @xpagecats, :id, :title, :prompt=>true) %>
  </div>

  <div class="field">
    <%= f.label :conference_id %>
    <%= f.collection_select(:conference_id, @xconfs, :id, :title, :prompt=>true) %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "tinymce" %>
    <%= tinymce %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
