<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Active</th>
    <th>Conference</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.content %></td>
    <td><%= page.active %></td>
    <td><%= page.conference_id %></td>
    <td><%= page.user_id %></td>
    <td><%= link_to 'Show', conference_page_path(@conference, page) %></td>
    <td><%= link_to 'Edit', edit_conference_page_path(@conference, page) %></td>
    <td><%= link_to 'Destroy', conference_page_path(@conference, page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_conference_page_path(@conference) %>
