<% if @submission[0].approved == 1 %>
<div class="plenary yellowback">ORAL &nbsp; P R E S E N T A T I O N</div>
<% elsif @submission[0].approved == 2 %>
<div class="plenary yellowback">P O S T E R &nbsp; P R E S E N T A T I O N</div>
<% end %>

<div class="pageview">
<h1><%= @submission[0].title %></h1>
<h2>Presenter: <%= @submission[0].user.first_name %> <%= @submission[0].user.last_name %></h2>
<p>Authors: <%= @submission[0].authors %></p>
<%= image_tag @submission[0].attachments[0].pic %>
<%=raw @submission[0].content %>
</div>