<p id="notice"><%= notice %></p>

<div id="content">
	<div class="plenary yellowback">B L A C K &nbsp; B O A R D S</div>
	<h1>
		<%= @board.title %>
		<% if can? :update, @board -%>
			|
			<%= link_to "Edit", edit_conference_board_path(@conference, @board), :remote => true %>
		<% end -%>
		<% if can? :create, Idea -%>
			|
			<%= link_to "Propose Idea", new_conference_board_idea_path(@conference, @board, @idea), :remote => true %>
		<% end -%>
	</h1>

	<div class="plenary yellowback"><%= @board.user.full_name %></div>

	<div class="pageview">
		<%=raw @board.description %>
	</div>

	<% if @board.ideas.any? -%>
		<div class="plenary yellowback">I D E A S</div>
		<div class="pageview">
		<% 0.upto(@board.ideas.length - 1) do |i| %>
			<strong><%= i + 1 %>. <%= @board.ideas[i].user.full_name %></strong>
			<p><%= @board.ideas[i].description %></p>
			<br />
		<% end -%>
		</div>
	<% end -%>

</div>
