<table id="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Affiliation</th>
      <th>Academic Status</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Nationality</th>
    </tr>
  </thead>
  <tbody>
  <% @attendees.each do |a| %>
  <% unless a.user.nil? %>
    <% unless a.user.detail.nil? %>
  <tr>
      <td><%= link_to "#{a.user.first_name} #{a.user.last_name}", boss_attendees_show_path(a.user), :remote => true %></td>
      <td><%= link_to "#{a.user.email}", "mailto:#{a.user.email}"  %></td>
      <td><%= a.user.detail.gender %></td>
      <td><%= a.user.detail.institute_affiliation %> </td>
      <td><%= a.user.detail.academic %></td>
      <td><%= a.user.detail.address %></td>
      <td><%= a.user.detail.phone %></td>
      <td><%= a.user.detail.nationality %></td>
    </tr>
    <% end %>
  <% end %>
  <% end %>

  </tbody>
</table>

