<p class="instruction">
	Click on the title link below to edit.
</p>

<table id="datatable">
	<thead>
		 <tr>
		    <th>Title</th>
		    <th>Content</th>
		    <th>Presenter</th>
		    <th>Conference</th>
		    <th>Actions</th>
		  </tr>
	</thead>
	<tbody>
		<% if @workshops.any? %>
			<% @workshops.each do |workshop| %>
			  <tr>
			   <td><%= link_to workshop.title, edit_conference_workshop_path(@conference, workshop), :remote => true %></td>
			    <td><%= workshop.content %></td>
			    <td><%= workshop.presenter %></td>
			    <td><%= workshop.conference.title %></td>
			    <td><%= link_to "Schedule", schedule_workshop_path(workshop), :remote => true %></td>
			  </tr>
			<% end %>
		<% else %>
			<tr>
				<td>No workshops yet!</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>