<table id="datatable">
	<thead>
		 <tr>
		    <th>Conference</th>
		    <th>Event</th>
		    <th>Title</th>
		    <th>Presenter</th>
		    <th>Day</th>
		    <th>Start time</th>
		    <th>Session Length (in minutes)</th>
		    <th>Venue</th>
				<th>Seats Left</th>
				<th>Actions</th>
		  </tr>
	</thead>
	<tbody>
		<% if @schedules.any? %>
			<% @schedules.each do |schedule| %>
			  <tr>
			  	<td><%= link_to schedule.schedulable.title, edit_conference_workshop_path(schedule.schedulable.conference, schedule.schedulable), :remote => true %></td>
			   	<td><%= schedule.schedulable.class.name == 'Period' ? "Session" : schedule.schedulable_type %></td>
			    <td><%= schedule.schedulable.title %></td>
			    <td><%= schedule.schedulable.class.name == 'Period' ? "N/A" : schedule.schedulable.presenter %></td>
			    <td><%= schedule.day %></td>
			    <td><%= schedule.starttime.strftime("%I : %M %p") %></td>
			    <td><%= schedule.minutes %></td>
			    <td><%= schedule.venue%></td>
			    <td>
			    	<% if schedule.schedulable.is_a? Workshop -%>
							<%= schedule.schedulable.seats_left %> / <%= schedule.schedulable.seats %>
						<% else -%>
							N/A
			    	<% end -%>
					</td>
					<td>
						<%= link_to "Edit", edit_schedule_path(schedule), :remote => true %> <%= link_to "Remove" %>
					</td>
			  </tr>
			<% end %>
		<% else %>
			<tr>
				<td>No schedules yet!</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		<% end %>
	</tbody>
</table>
