<table id="datatable">
<thead>
	<th>Session</th>
	<th>Number of Abstracts</th>
	<th>Category</th>
	<th>Actions</th>
</thead>
<tbody>
<% @periods.each do |p| %>
	<tr>
		<td><%= link_to p.title, edit_conference_period_path(@conference, p), :remote => true %></td>
		<td><%= p.submissions.size %></td>
		<td><%= period_category(p.category) %></td>
		<td><%= link_to "Arrange Abstracts/Events", period_submissions_path(p), :remote => true %> | <%= link_to "Unassign Abstracts/Events & Remove Session", conference_period_path(@conference, p), :method => 'delete', :remote => true, :data => { :confirm => "Are you sure?" } %></td>
	</tr>
<% end %>
</tbody>

