<div id="header">
	<!-- <a href="http://www.sccs-bng.org/"><img src="http://www.sccs-bng.org/images/logo.png" alt=""></a> -->
	<h1>STUDENTS&#8217; CONFERENCE ON<br>CONSERVATION SCIENCE</h1>
	<h2>25 - 28 SEPTEMBER, 2013, BANGALORE</h2>
	<p class="desc">100 Presentations | 300 of Africa and Asia's brightest conservation researchers</p>
	<div class="shadow">
		<!-- <img src="http://www.sccs-bng.org/images/shadow-top.png" alt=""> -->
	</div>
</div>

<div id="mainmenu">
	<ul id="nav_main">
		<li><%= link_to "Home", root_path %></li>
		<li><a href="#">Programme</a>
				<ul>
					<li><%= link_to "Plenaries", conference_plenaries_path(@conference) %></li>
					<li><%= link_to "Workshops", conference_workshops_path(@conference) %></li>
				</ul>
		</li>

		<% @xpages.each do |c| %>
				<li><a href="#"><%= c[1].first.pagecat.title %></a>
				<ul>
						<% c[1].each do |p| %>
							<li><%= link_to p.title, conference_page_path(@conference, p) %></li>
						<% end %>
				</ul>
				</li>
		<% end %>

		<li>
			<% if user_signed_in? %>
			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
			<% else %>
			<%= link_to "Login", new_user_session_path %>
			<% end %>
		</li>
		<div class="timer1 yellowback"><a href="http://sccs2013.doattend.com/">Register</a></div>
	</ul>
</div>

