<!DOCTYPE html>
<html>
<head>
  <title>Colloquy</title>
  <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= render 'layouts/mainmenu' if @xpagecats %>
<%= yield %>

<div id="signedin">
	<% if user_signed_in? %>
		Hi <%= current_user.email %>! <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><%=  %>
	<% end %>
</div>

<div id="modalwrap">
	<div class="closemodal">&times; CLOSE</div>
	<div id="modal">
	</div>
</div>

<div id="loaderwrap"></div>

</body>
</html>