<!DOCTYPE html>
<html>
<head>
  <title>SCCS</title>
  <link href='http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "attendee/attendee", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu-top">
        <div class="attlinks">Hi <%= current_user.email %>!
        <%= link_to "Abstract Submission Guidelines", conference_page_path(@conference, 'abstract-submission-guidelines')  %>
        <% unless @submission.empty? %>
        <%= link_to "My Abstract", conference_submission_path(@conference, @submission[0]), :remote => true  %>
        <% end %>
				<%= link_to "Register for Workshops", attendee_workshops_path  %>
				<%= link_to "Birds of a Feather", conference_boards_path(@conference) %>
        <%= link_to "My Account", edit_user_registration_path  %>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        </div>
        <div class="clear"></div>
    </div>
<%= yield %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div id="messages"></div>

<div id="modalwrap">
  <div class="closemodal">&times; CLOSE</div>
  <div id="modal">
  </div>
</div>


<div class="loaderoverlay">
  <div class="loader_back">
    <div class="loader yellow"></div>
    <br>PROCESSING
  </div>
</div>

<script>
  jQuery(document).ready(function($) {
    $('a[data-remote="true"]').click(function(){
      showloader();
    });
  });
</script>


</body>
</html>
